*{
  padding: 0;
  margin: 0;
  text-align: none;
  text-decoration: none;
}
.App{background-color:rgb(195 220 220); height: 1000px;}
@media(max-width: 600px) {
  .body{
    width: 100%;
  }
  .App {height: 2040px;}
  
}